body {
  background-color: #EAF6F6;
}
hr{

  border-style:dotted none none;
  border-color: grey;
  border-width: 10px;

  width: 8%;
}
h1
{
  color: #66BFBF;
}
h2
{
    color: #66BFBF;
}
